*{
    font-family: $fuente;
}

body{
	background-color: #E3E3E3;
}

nav{
 	background-color: transparent !important;
 	.brand-logo{
	margin-left: 20px;
	}
	.btn-large{
	background-color: $botones;
	}
}

.fuente{
	font-size: $tamano_fuente;
}


.dropdown-content{
	li{
	 a{
	font-size: 13px;
	color: black;
		}
	}  
}

.slider{
	top: 0px;
	position: absolute;
	.slides{
		li{
			height:80vh;
		}
	.titulo-slide{
			font-weight: bolder;
			font-size: 70px;
		}
	.parr-slide{
			font-size: 20px;
			font-weight: bold;
		}
	}
}

.contenedor{
	z-index:2;
	position:relative;
	background-color:white;
	border-radius: 5px;
	width:90%;
	top: 450px;
	left: 70px;
	.parr-caja{
		margin-left: 80px;
		margin-top: 50px;
	}
}


