
$fuente: 'Open Sans', sans-serif;
$fuente-titulos: 'Zilla Slab', serif;
$botones: #E91E63 ;
$color_azul: #00bcd4;
$color_verde:#4caf50;
$color_plomo: #f0f0f0;
$color_rojo:#f45f53;
$color_footer: #323437;
$tamano_fuente: 10px;
$borde-imagen:5px;
$facebook: #4a66a0;
$google: #de513f;
$twitter:#89c5f3;
$linkedin:#2586bc;
$pinterest:#d03237;
$dribbble:#d03237;
